# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.gitignore
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt

# iOS
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/ios/**/GeneratedPluginRegistrant.h
**/ios/**/GeneratedPluginRegistrant.m

# Web
**/web/manifest.json
build/

# Coverage
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Code formatting
*.patch
*.rej

# Temporary files
*.tmp
*.temp
.cache/

# Firebase
.firebase/
firestore-debug.log
firebase-debug.log

# FCM
**/android/app/google-services.json
**/ios/GoogleService-Info.plist
